@{
    ViewData["Title"] = "Home Page";
}
<form action="Home\About" action="post">
    @* <input type="text" placeholder="Enter Your Age" name="age">
    <button>Click</button> *@
    @* <P>@ViewBag.a</P> *@
</form>
