@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<table action="Privacy" action="post">
    <th>
        <td></td>
    </th>
</table>
