@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="SaveData">
    <input type="text" placeholder="Enter your Name" name="Name">
    <input type="text" placeholder="Enter your Email" name="Email">

    <button>Submit</button>
</form>
