@model IEnumerable<crud.Models.Contact>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container">
    <div class="row">
                @foreach(var contact in Model){
        <div class="col-lg-4 col-md-8 col-sm-12">
            <div class="card p-4 mb-3">
                <h5 style="color: rgb(20, 23, 20);"><i class="fa fa-user"></i>&nbsp;@contact.Name</h5>
                <hr>
                <div class="">
                <p><i class="fa fa-phone"></i>&nbsp;@contact.Description</p>
                <p><i class="fa fa-phone"></i>&nbsp;@contact.Quantity</p>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
                }
    </div>
</div>

